#homepage {
  text-align: center;
}
#homepage h1{
  font-size:65px;
  margin-top: 50px;
}
#homepage img{
  max-width: 113px;
}
#homepage{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
#homepagebuttons{
  display: flex;
  justify-content: space-around;
  margin: auto;
  width: 320px;
}


/*Andrew's CSS Begin*/
.match-card {
  display: inline-block;
  background-color: transparent;
  width: 226px;
  height: 314px;
  perspective: 1000px;
  
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
  margin: 4px;
  transition: 1s;
}
.match-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  /*box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);*/
}

.match-card.flipped .match-card-inner {
  transform: rotateY(180deg);
}

.match-card-front, .match-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.match-card-front {
  /*background-color: #bbb;*/
  color: black;
}

.match-card-back {
  /*background-color: #2980b9;*/
  color: white;
  transform: rotateY(180deg);
}

.match-card-img{
  width: 226px;
  height: 314px;
}
#titlearea{
  margin: auto;
  padding: 10px;
  max-width: 1100px;
}
#titlearea h2{
  text-align: center;
}
#matchingarea{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  position: absolute;
  top: 170px;
  max-width: 1200px;
  margin: auto;
  left: 0;
  right: 0;
  opacity: 1;
  transition: 1s;
}

#winnerdiv{
  position: absolute;
  z-index: 10;
  width: 100%;
  text-align: center;
  transition: 2s;
}
#winnerdiv h1{
  font-family: impact;
  font-size: 9em;
  text-shadow: 0px 0px 40px #FFFFFF, 0px 0px 70px #FFFFFF, 0px 0px 120px #FFFFFF;
}
#matchresetbutton{
  box-shadow: 3px 4px 0px 0px #8a2a21;
	background:linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
	background-color:#c62d1f;
	border-radius:42px;
	border:3px solid #d02718;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:28px;
	padding:7px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #810e05;
}
#matchresetbutton:hover {
	background:linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
	background-color:#f24437;
}
#matchresetbutton:active {
	position:relative;
	top:1px;
}
@media only screen and (max-width: 1190px) {
  .match-card{
    width: 113px;
    height: 157px;
  }
  .match-card-img{
    width: 113px;
    height: 157px;
  }
  #matchingarea{
    max-width: 700px;
  }
}
/*Andrew's CSS end*/
.myfooter{
    color: #fefefe;
    background-color: #212529
}

.homepage-footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 10%;
    font-size: .8em;
    background-color: #343a40;
    color: #f5f5f5;
}
  .footer.left{
    float:left;
}
.footer.left .logo{
    width: 50px;
    margin: 2px;
    transition: .2s;
}
.footer.left .logo:hover{
  width: 54px;
  margin: 0px;
}
.footer.middle{
    float:middle;
}
.footer.right{
    float:right;
}
.footer a{
    color:inherit;
    text-decoration-line: none;
}
.footer a:hover{
    color: #b4b4b4
}
#content{
  min-height: 100vh; /* will cover the 100% of viewport */
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 156px; /* height of your footer */
}